<div class="container mt-5">
    <div class="alert alert-success alert-dismissible fade show" role="alert" *ngIf="ok">
        <strong>Foto Subida Correctamente!!!</strong>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-7">
            <div class="card">
                <div class="card-header">
                    <h3 class="text-center">Subir Foto</h3>
                </div>
                <div class="card-body">
                    <form (ngSubmit)="uploadPhoto($event)" #form="ngForm">
                        <div class="form-group">
                            <input type="text" name="nombre" class="form-control" placeholder="Nombre" [(ngModel)]="photo.nombre">
                        </div>
                        <div class="form-group">
                            <textarea name="descripcion" id="" cols="30" rows="10" class="form-control" placeholder="Descripcion" [(ngModel)]="photo.descripcion"></textarea>
                        </div>
                        <div class="form-group">
                            <input type="file" name="imagen" class="d-none" (change)="onChange($event)" #photoInput>
                            <img [src]="photoSelected || 'assets/image/no-image.png'" alt="" class="card-img-top" height="400px" (click)="photoInput.click()">
                        </div>
                        <button type="submit" class="btn btn-primary" name="imagen">Subir</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>